:root {
    --fs-50: .8rem;
    --fs-75: .8rem;
    --fs-100: 1.3rem;
    --fs-200: 2rem;
    --fs-300: 3rem;
    --border-radius: 32px;
    --spacing: 1rem;

    @media (max-width: 480px) {
        --fs-50: .65rem;
        --fs-75: .8rem;
        --fs-100: 1rem;
        --fs-200: 1.5rem;
        --fs-300: 2rem;
    }
}

.product-page {
    padding: 2rem;

    @media (max-width: 480px) {
        padding: 2rem var(--spacing);
    }

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: start;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        .item-image {

            display: flex;
            flex-direction: column;
            gap: var(--spacing);
            max-width: 80%;

            @media (max-width:768px) {
                max-width: 100%;
            }

            margin-inline: auto;

            .big-image {
                position: relative;
                overflow: hidden;

                img {
                    max-width: 100%;
                    transition: transform 100ms linear;
                    cursor: crosshair;
                }

                img:hover {
                    transform: scale(1.5);
                }

                .arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2rem;
                    cursor: pointer;
                    z-index: 1;

                    svg {
                        transition: fill 200ms linear;
                        fill: rgba(255, 255, 255, 0);
                    }
                }

                .arrow.left-arrow {
                    rotate: 90deg;
                }

                .arrow.right-arrow {
                    right: 0;
                    rotate: -90deg;
                    z-index: 1;
                }
            }

            .big-image:hover>.arrow>svg {
                fill: rgba(255, 255, 255, .5);
            }

            .big-image>.arrow:hover>svg {
                fill: rgba(255, 255, 255, 1);
            }

            .small-images {
                display: flex;
                justify-content: center;
                gap: var(--spacing);

                img {
                    max-width: 15%;
                    cursor: pointer;
                }
            }

        }

        .item-info {
            display: flex;
            flex-direction: column;

            gap: var(--spacing);
            max-width: 80%;
            margin: auto;

            .item-name {
                font-size: var(--fs-200);
                font-weight: 500;
            }

            .item-price {
                font-size: var(--fs-300);
                font-weight: 600;
            }

            .item-options {
                display: flex;
                flex-direction: column;

                .h {
                    font-size: var(--fs-100);
                    font-weight: 500;
                    margin: 0 0 var(--spacing) 0;
                }

                label {
                    font-size: var(--fs-75);
                    font-weight: 600;
                }

                select {
                    border-radius: var(--border-radius);
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    padding: .8rem;
                    color: rgba(0, 0, 0, 0.6);
                    font-size: var(--fs-50);
                    font-weight: 400;
                    font-family: inherit;
                    margin: 0 0 var(--spacing) 0;

                    /* for Firefox */
                    -moz-appearance: none;
                    /* for Chrome */
                    -webkit-appearance: none;
                }

            }

            .buy-now {
                border-radius: var(--border-radius);
                padding: var(--spacing);
                background-color: var(--clr-400);
                color: #fff;
                width: 100%;
                text-decoration: none;
                text-align: center;
                transition: background-color 100ms linear;
            }

            .buy-now:hover {
                background-color: var(--clr-100);
            }

            .item-description {
                .heading {
                    font-size: var(--fs-100);
                    font-weight: 500;
                    margin: 0 0 var(--spacing) 0;
                    text-decoration: underline;
                }

                .description {
                    font-size: var(--fs-50);
                    font-weight: 400;
                }
            }
        }

    }
}

.qty-and-cart {
    display: flex;

    @media (max-width:768px) {
        flex-direction: column;
    }

    gap: var(--spacing);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .qty {
        display: grid;
        grid-template-columns: 1fr minmax(2rem, 100%) 1fr;
        grid-template-rows: min-content 1fr;

        *:nth-child(1) {
            grid-column: 1 / span 2
        }

        ;

        *:nth-child(2) {
            grid-column: 1;
            grid-row: 2
        }

        ;

        *:nth-child(3) {
            grid-column: 2;
            grid-row: 2
        }

        ;

        *:nth-child(4) {
            grid-column: 3;
            grid-row: 2
        }

        ;

        .q {
            font-size: var(--fs-75);
            font-weight: 600;
            align-self: flex-end;
        }

        --radius-btn: var(--border-radius);

        .minus,
        .plus {
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 22px;
            font-weight: 800;
            font-size: var(--fs-100);
            background: transparent;
            line-height: 0;
            cursor: pointer;
        }

        .minus {
            border-top-left-radius: var(--radius-btn);
            border-bottom-left-radius: var(--radius-btn);
            letter-spacing: -2px;
        }

        .plus {
            border-top-right-radius: var(--radius-btn);
            border-bottom-right-radius: var(--radius-btn);
        }

        input {
            text-align: center;
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    .add-to-cart {
        border-radius: var(--border-radius);
        padding: 1.5rem;
        border: 2px solid var(--clr-300);
        background-color: var(--clr-100);
        color: #fff;
        transition: background-color 100ms linear;
        width: 100%;
        cursor: pointer;
    }

    .add-to-cart:hover,
    .add-to-cart:focus {
        border-color: transparent;
        background-color: var(--clr-400);
    }
}

.active {
    opacity: .6;
}
.addedtocart-window {
    display: none;
}